<th><%= Com::DetectorError.human_attribute_name(:status) %></th>
<th><%= Com::DetectorError.human_attribute_name(:body) %></th>
<th>
  <p><%= Com::DetectorError.human_attribute_name(:started_at) %></p>
  <p><%= Com::DetectorError.human_attribute_name(:created_at) %></p>
</th>
<th><%= Com::DetectorError.human_attribute_name(:spend) %></th>
