<td><%= model.business_identifier %></td>
<td><%= model.namespace_identifier %></td>
<td><%= model.controller_identifier %></td>
<td><%= model.action_name %></td>
<td><%= model.params_name %></td>
<td><%= model.params_identifier %></td>
