<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_panel_who_role_path(@who_role), class: 'ui mini blue right floated button' %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= WhoRole.human_attribute_name(:who_id) %></td>
      <td><%= @who_role.who_id %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= WhoRole.human_attribute_name(:created_at) %></td>
      <td><%= @who_role.created_at %></td>
    </tr>
  </tbody>
</table>
