<%= render 'top_bar' if current_organ.parent %>

<div class="box is-padding-less mx-3">
  <%= render 'profile_item' %>
</div>

<%= render 'crm_nav' %>
<%= render 'factory_nav' %>
<%= render 'trade_nav' if defined? RailsTrade %>
<%= render 'bench_nav' if defined? RailsBench %>
<%= render 'finance_nav' if defined? RailsFinance %>
<%= render 'jia_bo_nav' %>
<%= render 'powered_by' %>
