<%= render 'profile_item' %>

<div class="box fixed-grid has-4-cols mx-3">
  <div class="grid">
    <%= render 'crm_nav' if defined? RailsCrm %>
    <%= render 'factory_nav' if defined? RailsFactory %>
    <%= render 'trade_nav' if defined? RailsTrade %>
    <%# render 'bench_nav' if defined? RailsBench %>
    <%# render 'finance_nav' if defined? RailsFinance %>
    <%# render 'space_nav' if defined? RailsSpace %>
    <%# render 'printer_nav' %>
  </div>
</div>

<%= render 'powered_by' %>
