<div class="ui top attached borderless menu">
  <div class="header item">Blob Defaults</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Blob Default', new_rails_ext_blob_default_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= ActiveStorage::BlobDefault.human_attribute_name(:id) %></th>
      <th><%= ActiveStorage::BlobDefault.human_attribute_name(:record_class) %></th>
      <th><%= ActiveStorage::BlobDefault.human_attribute_name(:name) %></th>
      <th><%= ActiveStorage::BlobDefault.human_attribute_name(:file) %></th>
      <th></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @blob_defaults.each do |blob_default| %>
    <tr>
      <td><%= blob_default.id %></td>
      <td><%= blob_default.record_class %></td>
      <td><%= blob_default.name %></td>
      <td><%= blob_default.file_blob.key if blob_default.file_blob %></td>
      <td>
        <%= render 'active_storage_ext/attachments/list', target: blob_default.file %>
      </td>
      <td class="ui labels">
        <%= link_to edit_rails_ext_blob_default_path(blob_default), data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to rails_ext_blob_default_path(blob_default), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @blob_defaults %>
