<th>
  <p><%= SolidQueue::Job.human_attribute_name(:id) %></p>
  <p><%= SolidQueue::Job.human_attribute_name(:status) %></p>
</th>
<th>
  <p><%= SolidQueue::Job.human_attribute_name(:job_class) %></p>
  <p class="text-success"><%= SolidQueue::Job.human_attribute_name(:finished_at) %></p>
</th>
<th><%= SolidQueue::Job.human_attribute_name(:arguments) %></th>
