<th>
  <p><%= SolidQueue::Job.human_attribute_name(:active_job_id) %></p>
  <p><%= SolidQueue::Job.human_attribute_name(:job_class) %></p>
  <p><%= SolidQueue::Job.human_attribute_name(:queue_name) %></p>
  <p class="color-success"><%= SolidQueue::Job.human_attribute_name(:finished_at) %></p>
</th>
<th><%= SolidQueue::Job.human_attribute_name(:executions) %></th>
<th><%= SolidQueue::Job.human_attribute_name(:arguments) %></th>
