<%= paginator.render do %>
  <nav class="<%= @options[:class] || 'pagination is-centered box is-narrow' %>">
    <%# first_page_tag unless current_page.first? %>
    <%= prev_page_tag unless current_page.first? %>
    <ul class="pagination-list">
    <% each_page do |page| %>
      <% if page.display_tag? %>
        <%= page_tag page %>
      <% elsif !page.was_truncated? %>
        <%= gap_tag %>
      <% end %>
    <% end %>
    </ul>
    <%= next_page_tag unless current_page.last? %>
    <%# last_page_tag unless current_page.last? %>
  </nav>
<% end %>
