<%= paginator.render do %>
  <% @window_options[:window] = 1 %>
  <nav class="<%= @options[:class] || 'box pagination is-centered m-3' %>">
    <%= prev_page_tag unless current_page.first? %>
    <ul class="pagination-list">
    <% each_page do |page| %>
      <% if page.display_tag? %>
        <%= page_tag page %>
      <% elsif !page.was_truncated? %>
        <%= gap_tag %>
      <% end %>
    <% end %>
    </ul>
    <%= next_page_tag unless current_page.last? %>
  </nav>
<% end %>
