<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" style="visibility: hidden">
      <%= link_to({ controller: 'devices', app_id: model.id }, aria: { label: t('jia_bo.panel.devices.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-print has-text-info"></i>
        <span>（<%= model.devices_count %>）</span>
      <% end %>
      <%= link_to({ action: 'show', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.show') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info has-text-info"></i>
      <% end %>
    </div>
  </td>
</tr>
