<td><%= model.name %></td>
<td><%= model.identifier %></td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :verify_organ, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :verify_member, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :verify_user, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
