<div class="button_tos">
<% meta_controller.meta_actions.each do |meta_action| %>
  <% if @role.has_role?(business: meta_action.business_identifier, namespace: meta_action.namespace_identifier, controller: meta_action.controller_path, action: meta_action.action_name) %>
    <%= button_to({ action: 'action_off' }, params: { meta_action_id: meta_action.id }, method: :patch) do %>
      <i class="fa-regular fa-check-square fa-lg"></i>
      <span aria-label="<%= meta_action.action_name %>" class="has-text-grey"><%= meta_action.name %></span>
    <% end %>
  <% else %>
    <%= button_to({ action: 'action_on' }, params: { meta_action_id: meta_action.id }, method: :patch) do %>
      <i class="fa-regular fa-square fa-lg"></i>
      <span aria-label="<%= meta_action.action_name %>" class="has-text-grey"><%= meta_action.name %></span>
    <% end %>
  <% end %>
<% end %>
</div>
