<th>
  <p><%= Roled::Role.human_attribute_name(:name) %></p>
  <p><%= Roled::Role.human_attribute_name(:tip) %></p>
</th>
<th><%= Roled::Role.human_attribute_name(:description) %></th>
<th><%= Roled::Role.human_attribute_name(:visible) %></th>
<th><%= Roled::Role.human_attribute_name(:default) %></th>
<th><%= Roled::Role.human_attribute_name(:role_types) %></th>
