<tr id="tr_<%= meta_controller.identifier %>" data-controller="tree-remote" data-tree-remote-target="item" data-tree-remote-hide-value="<%= defined?(hide) && hide ? true : false %>">
  <td class="has-background-danger-light" style="padding-left: 2.86em">
    <% case @role.controller_role(meta_controller) when 1 %>
      <%= button_to({ action: 'controller_off' }, params: { meta_controller_id: meta_controller.id, expand: defined?(expand) && expand }, method: :patch, form: { data: { tree_remote_target: 'checkbox' } }) do %>
        <i class="fa-regular fa-check-square fa-lg"></i>
        <span><%= meta_controller.name %></span>
      <% end %>
    <% when 0 %>
      <%= button_to({ action: 'controller_on' }, params: { meta_controller_id: meta_controller.id, expand: defined?(expand) && expand }, method: :patch, form: { data: { tree_remote_target: 'checkbox' } }) do %>
        <i class="fa-regular fa-square fa-lg"></i>
        <span><%= meta_controller.name %></span>
      <% end %>
    <% else %>
      <%= button_to({ action: 'controller_on' }, params: { meta_controller_id: meta_controller.id, expand: defined?(expand) && expand }, method: :patch, form: { data: { tree_remote_target: 'checkbox' } }) do %>
        <i class="fa-regular fa-lg fa-minus-square"></i>
        <span><%= meta_controller.name %></span>
      <% end %>
    <% end %>
    <p><span class="has-text-grey">(<%= meta_controller.controller_path %>)</span></p>
  </td>
  <td class="has-background-success-light">
    <%= render partial: 'actions', locals: { meta_controller: meta_controller } %>
  </td>
</tr>
