<tr>
  <td><%= Com::Err.human_attribute_name(:created_at) %></td>
  <td><time data-controller="time"><%= @err.created_at.to_formatted_s(:iso8601) %></time></td>
</tr>
<tr>
  <td><%= Com::Err.human_attribute_name(:exception_object) %></td>
  <td><%= @err.exception_object %></td>
</tr>
<tr>
  <td><%= Com::Err.human_attribute_name(:path) %></td>
  <td><%= @err.path %></td>
</tr>
<tr>
  <td><%= Com::Err.human_attribute_name(:controller_name) %></td>
  <td><%= @err.controller_name %></td>
</tr>
<tr>
  <td><%= Com::Err.human_attribute_name(:action_name) %></td>
  <td><%= @err.action_name %></td>
</tr>
<tr>
  <td><%= Com::Err.human_attribute_name(:params) %></td>
  <td><%= simple_format @err.params %></td>
</tr>
<tr>
  <td><%= Com::Err.human_attribute_name(:cookie) %></td>
  <td><%= simple_format @err.cookie %></td>
</tr>
<tr>
  <td><%= Com::Err.human_attribute_name(:session) %></td>
  <td><%= simple_format @err.session %></td>
</tr>
<tr>
  <td><%= Com::Err.human_attribute_name(:headers) %></td>
  <td><%= simple_format @err.headers %></td>
</tr>
<tr>
  <td><%= Com::Err.human_attribute_name(:exception) %></td>
  <td><pre><%= @err.exception %></pre></td>
</tr>
<tr>
  <td><%= Com::Err.human_attribute_name(:exception_backtrace) %></td>
  <td><pre style="overflow-x: auto"><%= @err.exception_backtrace.join("\n") %></pre></td>
</tr>
