<% if target.is_a?(ActiveStorage::Attached::One) && target.attached? %>
  <% if target.content_type.to_s.start_with?('image') %>
    <%= render partial: 'active_storage/attachments/image_item', locals: { image: target } %>
  <% elsif target.content_type.to_s.start_with?('video') %>
    <%= render partial: 'active_storage/attachments/video_item', locals: { video: target } %>
  <% else %>
    <p id="attachment_<%= target.id %>">
      <%= link_to target.filename, rails_blob_path(target) %>
      <%= link_to 'x', rails_attachment_path(target.id), method: :delete, data: {confirm: 'Are you sure?'}, remote: true %>
    </p>
  <% end %>
<% elsif target.is_a?(ActiveStorage::Attached::Many) %>
  <% target.each do |file| %>
    <% if file.content_type.to_s.start_with?('image') %>
      <%= render partial: 'active_storage/attachments/image_item', locals: { image: file } %>
    <% elsif file.content_type.to_s.start_with?('video') %>
      <%= render partial: 'active_storage/attachments/video_item', locals: { video: file } %>
    <% else %>
      <p id="attachment_<%= file.id %>">
        <%= link_to file.filename, rails_blob_path(file) %>
        <%= link_to 'x', rails_attachment_path(file.id), method: :delete, data: {confirm: 'Are you sure?'}, remote: true %>
      </p>
    <% end %>
  <% end %>
<% end %>



