<div class="top attached inline fields" id="<%= "#{target.record.class.name.underscore}_attachments_#{target.record.id}" %>">
  <div class="six wide field"></div>
  <div class="field">
    <% if target.is_a?(ActiveStorage::Attached::One) && target.attached? %>
      <p id="attachment_<%= target.id %>">
        <% if target.content_type.to_s.start_with?('image') %>
          <%= image_tag target, size: '30x30' %>
        <% else %>
          <%= link_to target.filename, rails_blob_path(target) %>
        <% end %>
        <%= link_to 'x', rails_attachment_path(target.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
      </p>
    <% elsif target.is_a?(ActiveStorage::Attached::Many) %>
      <% target.each do |file| %>
        <p id="attachment_<%= file.id %>">
          <% if file.content_type.to_s.start_with?('image') %>
            <%= image_tag file, size: '30x30' %>
          <% else %>
            <%= link_to file.filename, rails_blob_path(file) %>
          <% end %>
          <%= link_to 'x', rails_attachment_path(file.id), method: :delete, data: {confirm: 'Are you sure?'}, remote: true %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>


