<div class="top attached inline fields">
  <div class="six wide field"></div>
  <div class="field">
    <% if target.is_a?(ActiveStorage::Attached::One) && target.attached? %>
      <p id="attachment_<%= target.id %>">
        <%= link_to target.filename, rails_blob_path(target) %>
        <%= link_to 'x', rails_attachment_path(target.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
      </p>
    <% elsif target.is_a?(ActiveStorage::Attached::Many) %>
      <% target.each do |file| %>
        <p id="attachment_<%= file.id %>">
          <%= link_to file.filename, rails_blob_path(file) %>
          <%= link_to 'x', rails_attachment_path(file.id), method: :delete, data: {confirm: 'Are you sure?'}, remote: true %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>


