<div>
  <dt><%= Com::MetaModel.human_attribute_name(:name) %></dt>
  <dd><%= @meta_model.name %></dd>
</div>
<div>
  <dt><%= Com::MetaModel.human_attribute_name(:model_name) %></dt>
  <dd><%= @meta_model.model_name %></dd>
</div>
<div>
  <dt><%= Com::MetaModel.human_attribute_name(:description) %></dt>
  <dd><%= @meta_model.description %></dd>
</div>
