<tr>
  <td class="has-text-right"><%= Com::MetaModel.human_attribute_name(:name) %></td>
  <td><%= @meta_model.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::MetaModel.human_attribute_name(:model_name) %></td>
  <td><%= @meta_model.model_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::MetaModel.human_attribute_name(:description) %></td>
  <td><%= @meta_model.description %></td>
</tr>
