<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
        <%= link_to t('.edit'), edit_panel_acme_account_path(@acme_account), class: 'button is-small is-link', remote: true %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= AcmeAccount.human_attribute_name(:email) %></td>
      <td><%= @acme_account.email %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AcmeAccount.human_attribute_name(:kid) %></td>
      <td><%= @acme_account.kid %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AcmeAccount.human_attribute_name(:private_pem) %></td>
      <td><%= @acme_account.private_pem %></td>
    </tr>
  </tbody>
</table>
