<div id="tr_<%= model.id %>" class="card is-middle">
  <div class="card-content has-block-centered">
    <%= link_to({ action: 'show', id: model.id }) do %>
      <strong class="text-primary"><%= model.host %></strong>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to({ action: 'show', id: model }, class: 'card-footer-item') do %>
      <span><%= t('.show.title') %></span>
    <% end %>
  </div>
</div>
