<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'device_organs', device_id: model.id }, aria: { label: t('jia_bo.panel.device_organs.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-building has-text-success"></i>
      <% end %>
      <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info has-text-info"></i>
      <% end %>
      <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil has-text-link"></i>
      <% end %>
      <%= button_to({ action: 'test', id: model.id }, method: :patch, aria: { label: t('.test') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.test.confirm') } }) do %>
        <i class="fa-solid fa-print has-text-info"></i>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
        <i class="fa-solid fa-trash has-text-danger"></i>
      <% end %>
    </div>
  </td>
</tr>
