<%= form_with theme: 'search', model: Com::BlobDefault.new, url: { action: params[:action] } do |f| %>
  <div class="field-body">
    <%= f.text_field :record_class %>
    <%= f.text_field :name %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:record_class, :name]), class: 'button is-light' %>
    </div>
  </div>
<% end %>
