<td><%= model.id %></td>
<td><%= model.record_class %></td>
<td><%= model.name %></td>
<td>
  <%= model.file_blob.key if model.file_blob %>
  <%= render 'com/attachments/list', target: model.file %>
</td>
<td><%= model.private %></td>
