<div>
  <dt><%= Roled::RoleRule.human_attribute_name(:business_identifier) %></dt>
  <dd><%= @role_rule.business_identifier %></dd>
</div>
<div>
  <dt><%= Roled::RoleRule.human_attribute_name(:namespace_identifier) %></dt>
  <dd><%= @role_rule.namespace_identifier %></dd>
</div>
<div>
  <dt><%= Roled::RoleRule.human_attribute_name(:controller_identifier) %></dt>
  <dd><%= @role_rule.controller_identifier %></dd>
</div>
<div>
  <dt><%= Roled::RoleRule.human_attribute_name(:action_name) %></dt>
  <dd><%= @role_rule.action_name %></dd>
</div>
<div>
  <dt><%= Roled::RoleRule.human_attribute_name(:params_name) %></dt>
  <dd><%= @role_rule.params_name %></dd>
</div>
<div>
  <dt><%= Roled::RoleRule.human_attribute_name(:params_identifier) %></dt>
  <dd><%= @role_rule.params_identifier %></dd>
</div>
