<tr>
  <td class="has-text-right"><%= RoleRule.human_attribute_name(:business_identifier) %></td>
  <td><%= @role_rule.business_identifier %></td>
</tr>
<tr>
  <td class="has-text-right"><%= RoleRule.human_attribute_name(:namespace_identifier) %></td>
  <td><%= @role_rule.namespace_identifier %></td>
</tr>
<tr>
  <td class="has-text-right"><%= RoleRule.human_attribute_name(:controller_identifier) %></td>
  <td><%= @role_rule.controller_identifier %></td>
</tr>
<tr>
  <td class="has-text-right"><%= RoleRule.human_attribute_name(:action_name) %></td>
  <td><%= @role_rule.action_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= RoleRule.human_attribute_name(:params_name) %></td>
  <td><%= @role_rule.params_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= RoleRule.human_attribute_name(:params_identifier) %></td>
  <td><%= @role_rule.params_identifier %></td>
</tr>
