<div>
  <dt><%= Com::MetaColumn.human_attribute_name(:model_name) %></dt>
  <dd><%= @meta_column.model_name %></dd>
</div>
<div>
  <dt><%= Com::MetaColumn.human_attribute_name(:column_name) %></dt>
  <dd><%= @meta_column.column_name %></dd>
</div>
<div>
  <dt><%= Com::MetaColumn.human_attribute_name(:column_type) %></dt>
  <dd><%= @meta_column.column_type %></dd>
</div>
<div>
  <dt><%= Com::MetaColumn.human_attribute_name(:sql_type) %></dt>
  <dd><%= @meta_column.sql_type %></dd>
</div>
<div>
  <dt><%= Com::MetaColumn.human_attribute_name(:column_limit) %></dt>
  <dd><%= @meta_column.column_limit %></dd>
</div>
