<tr>
  <td class="has-text-right"><%= Com::MetaColumn.human_attribute_name(:model_name) %></td>
  <td><%= @meta_column.model_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::MetaColumn.human_attribute_name(:column_name) %></td>
  <td><%= @meta_column.column_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::MetaColumn.human_attribute_name(:column_type) %></td>
  <td><%= @meta_column.column_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::MetaColumn.human_attribute_name(:sql_type) %></td>
  <td><%= @meta_column.sql_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::MetaColumn.human_attribute_name(:column_limit) %></td>
  <td><%= @meta_column.column_limit %></td>
</tr>
