<tr id="tr_<%= meta_controller.id %>">
  <td><%= meta_controller.namespace_identifier %></td>
  <td>
    <%= button_to({ action: 'move_higher', id: meta_controller.id }, method: :patch, class: 'has-text-grey-lighter') do %>
      <i class="fas fa-arrow-up"></i>
    <% end %>
    <%= button_to({ action: 'move_lower', id: meta_controller.id }, method: :patch, class: 'has-text-grey-lighter') do %>
      <i class="fas fa-arrow-down"></i>
    <% end %>
    <span aria-label="<%= meta_controller.identifier %>"><%= meta_controller.name %></span>
    <%= link_to edit_panel_meta_controller_path(meta_controller), aria: { label: t('.edit') }, class: 'has-text-grey-lighter' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
  </td>
  <td>
    <% meta_controller.rules.each do |rule| %>
      <div>
        <span aria-label="<%= rule.action_name %>"><%= rule.name %></span>
        <%= link_to roles_panel_meta_controller_rule_path(meta_controller, rule), id: "roles_#{rule.id}", class: 'has-text-grey-lighter' do %>
          <i class="fas fa-users"></i>
        <% end %>
        <%= link_to edit_panel_meta_controller_rule_path(meta_controller, rule), aria: { label: t('.edit') }, class: 'has-text-grey-lighter' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
