<% @meta_controllers.each do |meta_controller| %>
<tr id="tr_<%= meta_controller.identifier %>" data-controller="tree-remote" data-tree-remote-target="item">
  <td>
    <span style="width: 2.86em; display: inline-block"></span>
    <%= button_to({ action: 'meta_actions', meta_controller_id: meta_controller.id }, data: { turbo_frame: 'visit' }) do %>
      <i class="fa-solid fa-fw fa-caret-right" style="cursor: pointer" data-action="click->tree-remote#expand"></i>
    <% end %>
    <%= link_to({ controller: 'meta_actions', meta_controller_id: meta_controller.id }) do %>
      <span><%= meta_controller.name %></span>
      <span class="has-text-grey">(<%= meta_controller.controller_path %>)</span>
    <% end %>
  </td>
  <td></td>
</tr>
<% end %>
