<% @governs.each do |govern| %>
<tr id="tr_<%= govern.identifier %>" data-controller="tree-remote" data-tree-remote-target="item">
  <td>
    <span style="width: 2.86em; display: inline-block"></span>
    <%= button_to({ action: 'rules', govern_id: govern.id }, data: { turbo_frame: 'visit' }) do %>
      <i class="fas fa-fw fa-caret-right" style="cursor: pointer" data-action="click->tree-remote#expand"></i>
    <% end %>
    <span><%= govern.name %></span>
    <span class="has-text-grey">(<%= govern.controller_path %>)</span>
  </td>
  <td>
    <%= link_to({ controller: 'rules', govern_id: govern.id }) do %>
      <i class="fas fa-list"></i><span><%= t('roled.panel.rules.index.title') %></span>
    <% end %>
  </td>
</tr>
<% end %>
