<td><%= model.id %></td>
<td><%= model.key %></td>
<td>
  <p><%= image_tag model.variant(resize_to_limit: [100, 100]) if model.image? %></p>
  <% if model.url.present? %>
    <p><%= link_to model.filename, model.url %></p>
  <% else %>
    <p><%= model.filename %></p>
  <% end %>
</td>
<td><%= model.content_type %></td>
<td><%= simple_format(model.metadata) %></td>
<td><%= number_to_human_size(model.byte_size) %></td>
<td><time data-controller="time"><%= model.created_at.to_s(:rfc822) %></time></td>
<td>
  <% model.attachments.each do |attachment| %>
    <%= link_to "#{attachment.record_type}_#{attachment.record_id}", panel_attachments_path(id: attachment.id) %>
  <% end %>
</td>
