<div class="tabs">
  <ul>
    <li><%= link_to t('.all'), panel_blobs_path, class: active_helper(action: 'index', active_class: 'is-active', item_class: nil) %></li>
    <li><%= link_to 'Unattached', unattached_panel_blobs_path, class: active_helper(action: 'unattached', active_class: 'is-active', item_class: nil) %></li>
  </ul>
</div>

<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= ActiveStorage::Blob.human_attribute_name(:id) %></th>
      <th><%= ActiveStorage::Blob.human_attribute_name(:key) %></th>
      <th><%= ActiveStorage::Blob.human_attribute_name(:filename) %></th>
      <th><%= ActiveStorage::Blob.human_attribute_name(:content_type) %></th>
      <th><%= ActiveStorage::Blob.human_attribute_name(:metadata) %></th>
      <th><%= ActiveStorage::Blob.human_attribute_name(:size) %></th>
      <th><%= ActiveStorage::Blob.human_attribute_name(:created_at) %></th>
      <th></th>
      <th>
        <%= link_to new_panel_blob_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @blobs.each do |blob| %>
    <tr id="blob_<%= blob.id %>">
      <td><%= blob.id %></td>
      <td><%= blob.key %></td>
      <td>
        <p><%= image_tag blob.variant(resize_to_limit: [100, 100]) if blob.image? %></p>
        <% if blob.service_url.present? %>
          <p><%= link_to blob.filename, blob.service_url %></p>
        <% else %>
          <p><%= blob.filename %></p>
        <% end %>
      </td>
      <td><%= blob.content_type %></td>
      <td><%= simple_format(blob.metadata) %></td>
      <td><%= number_to_human_size(blob.byte_size) %></td>
      <td><time><%= blob.created_at.to_s(:rfc822) %></time></td>
      <td>
        <% blob.attachments.each do |attachment| %>
          <%= link_to "#{attachment.record_type}_#{attachment.record_id}", panel_attachments_path(id: attachment.id) %>
        <% end %>
      </td>
      <td>
        <%= link_to panel_blob_path(blob), method: :delete, remote: true, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <%= link_to rails_ext_audio_path(blob.id), target: '_blank', aria: { label: t('.play') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-play"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @blobs %>
