<td><%= model.slot_name %></td>
<td>
  <p><%= model.datoid %></p>
  <p><%= model.database %></p>
</td>
<td>
  <p><%= model.active %></p>
  <p><%= model.active_pid %></p>
</td>
<td><%= model.wal_status %></td>
<td><%= model.conflicting %></td>