<div class="dropdown is-hoverable pop-right p-3">
  <div class="dropdown-trigger">
    <div class="is-several">
      <%= image_tag current_member.avatar, class: 'image is-32x32' if current_member.avatar.present? %>
      <span><%= current_member.name %></span>
    </div>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content">
      <%= link_to({ controller: '/me/home' }, class: 'dropdown-item') do %>
        <span><%= t('me.home.index.title') %></span>
      <% end %>
      <%= link_to({ debug_mode: true }, class: 'dropdown-item') do %>
        <span>Debug Mode</span>
      <% end %>
      <%= link_to({ controller: 'org/board/members', action: 'logout' }, data: { turbo_confirm: '确认退出' }, class: 'dropdown-item') do %>
        <span><%= t('org.board.members.logout.title') %></span>
      <% end %>
    </div>
  </div>
</div>
