<%= render 'filter_form' %>
<%= render 'filter_table' %>

<div class="weui-panel">
  <div class="weui-panel__hd"><%= t('.title') %></div>
  <div class="weui-panel__bd">
    <%= yield %>
  </div>
</div>

<%= render 'button' %>
