<div class="navbar-breadcrumb" style="margin-bottom: 0.75rem">
  <div class="breadcrumb has-succeeds-separator background-light">
    <ul>
      <% if current_page?(controller: 'home') %>
        <li><strong class="is-active"><%= t('.home.index.title') %></strong></li>
      <% else %>
        <li><%= link_to t('.home.index.title'), { controller: 'home' } %></li>
      <% end %>
      <%= render 'breadcrumb' %>
    </ul>
  </div>
  <nav data-controller="navbar" class="navbar is-light">
    <div data-navbar-target="menu" class="navbar-menu">
      <div class="navbar-end">
        <%= render partial: 'locales' %>
        <%= render partial: 'notice_navbar' if defined? RailsNotice %>
        <%= render partial: 'admin/auth_navbar' if current_member %>
      </div>
    </div>
  </nav>
</div>
