<%= f.text_field :statistical_type %>
<%= f.date_field :begin_on %>
<%= f.date_field :end_on %>
<%= f.text_field :note %>
<% f.object.keys.each_with_index do |key, index| %>
  <div data-controller="field" data-field-index-value="<%= index %>" class="field is-horizontal">
    <% if index == 0 %>
      <%= f.label :keys %>
    <% else %>
      <div class="field-label is-normal"></div>
    <% end %>
    <div class="field-body">
      <%= f.text_field :keys, value: key, label: nil, all: { normal: nil }, wrap: { input: 'field' }, multiple: true %>
      <span class="field is-narrow has-addons has-addons-middle">
        <i class="fa-solid fa-lg fa-plus-circle" data-action="click->field#add" style="cursor: pointer"></i>
        <i class="fa-solid fa-lg fa-minus-circle pl-2" data-action="click->field#remove" style="cursor: pointer"></i>
      </span>
    </div>
  </div>
<% end %>
<% if f.object.keys.blank? %>
  <div data-controller="field" data-field-index-value="0" class="field is-horizontal">
    <%= f.label :keys %>
    <div class="field-body">
      <%= f.text_field :keys, label: nil, all: { normal: nil }, wrap: { input: 'field' }, multiple: true %>
      <span class="field is-narrow has-addons has-addons-middle">
        <i class="fa-solid fa-lg fa-plus-circle" data-action="click->field#add" style="cursor: pointer"></i>
        <i class="fa-solid fa-lg fa-minus-circle pl-2" data-action="click->field#remove" style="cursor: pointer"></i>
      </span>
    </div>
  </div>
<% end %>