<tr id="tr_<%= meta_controller.identifier %>" data-controller="tree-remote" data-tree-remote-target="item" data-tree-remote-hide-value="<%= defined?(hide) && hide ? true : false %>">
  <td>
    <span style="width: 2.86em; display: inline-block"></span>
    <%= button_to({ action: 'actions' }, params: { meta_controller_id: meta_controller.id }) do %>
      <% if defined?(expand) && expand %>
        <i class="fa-solid fa-fw fa-caret-down" style="cursor: pointer" data-action="click->tree-remote#collapse"></i>
      <% else %>
        <i class="fa-solid fa-fw fa-caret-right" style="cursor: pointer" data-action="click->tree-remote#expand"></i>
      <% end %>
    <% end %>
    <% case @role.controller_role(meta_controller) when 1 %>
      <%= button_to({ action: 'controller_off' }, params: { meta_controller_id: meta_controller.id, expand: defined?(expand) && expand }, method: :patch, form: { data: { tree_remote_target: 'checkbox' } }) do %>
        <i class="fa-regular fa-check-square fa-lg"></i>
        <span><%= meta_controller.name %></span>
        <span class="has-text-grey">(<%= meta_controller.controller_path %>)</span>
      <% end %>
    <% when 0 %>
      <%= button_to({ action: 'controller_on' }, params: { meta_controller_id: meta_controller.id, expand: defined?(expand) && expand }, method: :patch, form: { data: { tree_remote_target: 'checkbox' } }) do %>
        <i class="fa-regular fa-square fa-lg"></i>
        <span><%= meta_controller.name %></span>
        <span class="has-text-grey">(<%= meta_controller.controller_path %>)</span>
      <% end %>
    <% else %>
      <%= button_to({ action: 'controller_on' }, params: { meta_controller_id: meta_controller.id, expand: defined?(expand) && expand }, method: :patch, form: { data: { tree_remote_target: 'checkbox' } }) do %>
        <i class="fa-regular fa-lg fa-minus-square"></i>
        <span><%= meta_controller.name %></span>
        <span class="has-text-grey">(<%= meta_controller.controller_path %>)</span>
      <% end %>
    <% end %>
  </td>
</tr>
