<div class="ui segment breadcrumb">
  <%= link_to 'Back', rails_ext_blobs_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Add</div>
</div>

<div class="ui segment">
  <%= form_with model: @blob, url: rails_ext_blobs_path, local: true do |f| %>
    <%= render 'shared/error_messages', target: @blob %>
    <%= f.file_field :io %>
    <%= f.submit %>
  <% end %>
</div>
