<div class="fixed-grid has-4-cols">
  <div class="grid">
    <% @roled_tabs.each do |tab| %>
      <%= link_to(tab.path, class: 'cell button is-fullwidth') do %>
        <i class="fa-solid fa-<%= tab.icon %> size-5"></i>
        <span class="ml-1"><%= tab.name %></span>
      <% end %>
    <% end %>
  </div>
  <div class="grid">
    <%= link_to({ controller: '/admin/home' }, class: 'cell button is-large is-fullwidth') do %>
      <i class="fa-solid fa-cogs text-grey size-7"></i>
      <span class="ml-2 size-6"><%= t('admin.home.index.title') %></span>
    <% end %>
  </div>
</div>
