<tr>
  <td><%= JiaBo::Device.human_attribute_name(:device_id) %></td>
  <td><%= @device.device_id %></td>
</tr>
<tr>
  <td><%= JiaBo::Device.human_attribute_name(:dev_name) %></td>
  <td><%= @device.dev_name %></td>
</tr>
<tr>
  <td><%= JiaBo::Device.human_attribute_name(:grp_id) %></td>
  <td><%= @device.grp_id %></td>
</tr>
