<tr>
  <td><%= Com::ErrSummary.human_attribute_name(:created_at) %></td>
  <td><time data-controller="time"><%= @err_summary.created_at.to_fs(:iso8601) %></time></td>
</tr>
<tr>
  <td><%= Com::ErrSummary.human_attribute_name(:exception_object) %></td>
  <td><%= @err_summary.exception_object %></td>
</tr>
<tr>
  <td><%= Com::ErrSummary.human_attribute_name(:controller_name) %></td>
  <td><%= @err_summary.controller_name %></td>
</tr>
<tr>
  <td><%= Com::ErrSummary.human_attribute_name(:action_name) %></td>
  <td><%= @err_summary.action_name %></td>
</tr>

