<%= f.text_field :sync_host %>
<%= f.text_field :sync_path %>
<% f.object.identifiers.each_with_index do |identifier, index| %>
  <div data-controller="field" data-field-index-value="<%= index %>" class="field is-horizontal">
    <% if f.index == 0 %>
      <%= f.label :identifiers %>
    <% else %>
      <label class="field-label is-normal"></label>
    <% end %>
    <div class="field-body">
      <%= f.text_field :identifiers, value: identifier, label: nil, all: { normal: nil }, wrap: { input: 'field' }, multiple: true %>
      <span class="field has-addons has-addons-middle">
        <i class="fa-solid fa-lg fa-plus-circle" data-action="click->field#add" style="cursor: pointer"></i>
        <i class="fa-solid fa-lg fa-minus-circle pl-2" data-action="click->field#remove" style="cursor: pointer"></i>
      </span>
    </div>
  </div>
<% end %>
<% if f.object.identifiers.blank? %>
  <div data-controller="field" data-field-index-value="0" class="field is-horizontal">
    <%= f.label :identifiers %>
    <div class="field-body">
      <%= f.text_field :identifiers, label: nil, all: { normal: nil }, wrap: { input: 'field' }, multiple: true %>
      <span class="field is-narrow has-addons has-addons-middle">
        <i class="fa-solid fa-lg fa-plus-circle" data-action="click->field#add" style="cursor: pointer"></i>
        <i class="fa-solid fa-lg fa-minus-circle pl-2" data-action="click->field#remove" style="cursor: pointer"></i>
      </span>
    </div>
  </div>
<% end %>
