<tr>
  <td><%= simple_format acme_order.identifiers %></td>
  <td><%= acme_order.url %></td>
  <td>
    <% if acme_order.private_pem_blob %>
      <p><%= link_to acme_order.private_pem_blob.filename, acme_order.private_pem_blob.service_url %></p>
    <% end %>
    <% if acme_order.cert_key_blob %>
      <p><%= link_to acme_order.cert_key_blob.filename, acme_order.cert_key_blob.service_url %></p>
    <% end %>
  </td>
  <td>
    <%= link_to panel_acme_order_identifiers_path(acme_order), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to order_panel_acme_account_order_path(@acme_account, acme_order), aria: { label: t('.order') }, method: :patch, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-shopping-cart"></i>
    <% end %>
    <%= link_to edit_panel_acme_account_order_path(@acme_account, acme_order), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to panel_acme_account_order_path(@acme_account, acme_order), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
