<%= form_with theme: 'modal', model: @acme_order, url: { action: 'create' } do |f| %>
  <%= render 'modal_header' %>
  <div class="modal-card-body">
    <%= render 'error_messages', target: @acme_order %>
    <%= f.fields :identifiers, wrap: { all: nil, input: 'field' }, label: false, placeholder: true do |ef| %>
      <div class="field is-horizontal" data-controller="field" data-field-index-value="<%= ef.index %>">
        <% if ef.index == 0 %>
          <%# ef.label :identifiers %>
        <% else %>
          <label class="field-label"></label>
        <% end %>
        <div class="field-body">
          <%= ef.text_field nil, label: nil, wrap: { all: nil, input: 'field' }, placeholder: Com::AcmeIdentifier.human_attribute_name(:identifier) %>
          <span class="field has-addons has-addons-middle">
            <i class="fa-solid fa-lg fa-plus-circle" data-action="click->field#add" style="cursor: pointer"></i>
            <i class="fa-solid fa-lg fa-minus-circle pl-2" data-action="click->field#remove" style="cursor: pointer"></i>
          </span>
        </div>
      </div>
    <% end %>
    <%= render partial: 'form', locals: { f: f } %>
  </div>
  <%= f.submit %>
<% end %>
