<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
        <%= link_to t('.edit'), edit_panel_acme_order_path(@acme_order), class: 'button is-small is-link', remote: true %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= AcmeOrder.human_attribute_name(:identifiers) %></td>
      <td><%= @acme_order.identifiers %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AcmeOrder.human_attribute_name(:file_name) %></td>
      <td><%= @acme_order.file_name %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AcmeOrder.human_attribute_name(:file_content) %></td>
      <td><%= @acme_order.file_content %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AcmeOrder.human_attribute_name(:record_name) %></td>
      <td><%= @acme_order.record_name %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= AcmeOrder.human_attribute_name(:record_content) %></td>
      <td><%= @acme_order.record_content %></td>
    </tr>
  </tbody>
</table>
