<td>
  <p><%= model.name %></p>
  <p class="has-text-grey"><%= model.tip %></p>
</td>
<td><%= model.description %></td>
<td>
  <%= link_to model.type_i18n, { controller: 'roled/panel/who_roles', role_id: model.id }, class: 'button' %>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :role, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :visible, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :role, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
