<td>
  <p><%= model.domain %></p>
  <p><%= model.identifier %></p>
</td>
<td>
  <p><%= model.file_name %></p>
  <p><%= model.file_content %></p>
</td>
<td>
  <p><%= model.record_name %></p>
  <p><%= model.record_content %></p>
</td>
<td>
  <p><%= model.dns_valid %></p>
  <p><%= model.file_valid %></p>
</td>
