<td>
  <p><%= model.domain %></p>
  <p><%= model.identifier %></p>
</td>
<td>
  <p><%= model.file_name %></p>
  <p><%= model.file_content %></p>
  <p><%= model.record_name %></p>
  <p><%= model.record_content %></p>
</td>
<td><%= model.status_i18n %></td>
