<th style="width: 4rem"><%= Com::Err.human_attribute_name(:id) %></th>
<th style="width: 30%">
  <p><%= Com::Err.human_attribute_name(:controller_name) %></p>
  <p><%= Com::Err.human_attribute_name(:action_name) %></p>
</th>
<th><%= Com::Err.human_attribute_name(:exception_object) %></th>
<th>
  <%= link_to filter_params('errs_count-desc': 1) do %>
    <span><%= Com::Err.human_attribute_name(:errs_count) %></span>
    <% if params['errs_count-desc'] === '1' %><i class="fa-solid fa-arrow-down text-grey-dark"></i><% end %>
  <% end %>
</th>
<th>
  <p class="text-success"><%= Com::Err.human_attribute_name(:updated_at) %></p>
  <p class="text-grey"><%= Com::Err.human_attribute_name(:created_at) %></p>
</th>
