<div class="ui borderless menu">
  <div class="ui container">

  <div class="item">
    <strong>管理后台</strong>
  </div>
  <% if rails_role_user.has_role?('admin/users', 'admin') %>
    <%= link_to '用户管理', admin_users_path, class: 'item' %>
    <%= link_to '角色管理', admin_whos_path, class: 'item' %>
    <%= link_to '化学品管理', admin_chemicals_path, class: 'item' %>
    <%= link_to '队列任务', sidekiq_web_path, class: 'item', target: '_blank' %>
  <% end %>
  <% if rails_role_user.has_role?('the_data/data_lists', 'admin') %>
    <%= link_to '报表', data_lists_path, class: 'item' %>
  <% end %>
  <div class="right menu">

  </div>
  </div>
</div>
