<td><%= check_box_tag 'xx', model.id, id: nil %></td>
<td>
  <p>
    <%= link_to({ controller: 'jobs', action: 'show', id: model.id }) do %>
      <%= model.id %>
    <% end %>
  </p>
  <p><span class="tag"><%= model.status %></span></p>
</td>
<td>
  <p><%= model.class_name %></p>
  <p class="text-grey"><time data-controller="time" data-format="human"><%= model.scheduled_at.to_fs(:iso8601) %></time></p>
</td>
<td><pre><%= model.arguments['arguments'][0].to_format_yaml %></pre></td>
