<th>
  <p><%= Com::Statistic.human_attribute_name(:column) %></p>
  <p><%= Com::Statistic.human_attribute_name(:value) %></p>
</th>
<th><%= Com::Statistic.human_attribute_name(:extra) %></th>
<th>
  <p><%= Com::Statistic.human_attribute_name(:created_at) %></p>
  <p><%= Com::Statistic.human_attribute_name(:updated_at) %></p>
</th>
<th>
  <p><%= Com::Statistic.human_attribute_name(:statistic_months_count) %></p>
  <p><%= Com::Statistic.human_attribute_name(:statistic_days_count) %></p>
</th>