<% model.form_parameters.each_with_index do |parameter, index| %>
  <%= f.fields :parameters, model: parameter, index: index, wrap: { all: false, input: 'field > control', select: 'field is-narrow > control > select is-fullwidth', label: false, placeholder: true } do |pf| %>
    <div class="field is-horizontal" id="parameters_<%= index %>">
      <%= f.label :form_parameters %>
      <div class="field-body">
        <%= pf.text_field :column, value: parameter.key %>
        <%= pf.select :value, options_for_select(RailsCom.config.mapping.keys, parameter.value) %>
        <div class="field">
          <%= link_to add_item_data_lists_path(index: index + 1), remote: true do %>
            <i class="fas fa-plus"></i>
          <% end %>
          <%= link_to remove_item_data_lists_path(index: index), remote: true do %>
            <i class="fas fa-minus"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
