<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable">
  <thead>
    <tr>
      <th><%= BlobDefault.human_attribute_name(:id) %></th>
      <th><%= BlobDefault.human_attribute_name(:record_class) %></th>
      <th><%= BlobDefault.human_attribute_name(:name) %></th>
      <th><%= BlobDefault.human_attribute_name(:file) %></th>
      <th><%= BlobDefault.human_attribute_name(:private) %></th>
      <th>
        <%= link_to new_admin_blob_default_path, remote: true, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @blob_defaults.each do |blob_default| %>
    <tr>
      <td><%= blob_default.id %></td>
      <td><%= blob_default.record_class %></td>
      <td><%= blob_default.name %></td>
      <td>
        <%= blob_default.file_blob.key if blob_default.file_blob %>
        <%= render 'com/attachments/list', target: blob_default.file %>
      </td>
      <td><%= blob_default.private %></td>
      <td>
        <%= link_to edit_admin_blob_default_path(blob_default), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_blob_default_path(blob_default), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @blob_defaults %>
