<%= form_with theme: 'modal', model: @who, scope: :who, url: { action: 'update' } do |f| %>
  <%= render 'modal_header' %>
  <div class="modal-card-body">
    <%= render 'error_messages', target: @who %>
    <%= f.collection_check_boxes :role_ids, @roles, :id, :name %>
  </div>
  <%= f.submit %>
<% end %>
