<td>
  <p>
    <%= link_to({ controller: 'jobs', action: 'show', id: model.active_job_id }) do %>
      <%= model.id %>
    <% end %>
  </p>
  <p><%= model.class_name %></p>
  <p><pre><%= model.arguments['arguments'].to_format_yaml %></pre></p>
</td>
<td>
  <p class="text-danger"><%= model.failed_execution.error['message'] %></p>
</td>
