<th id="xxd" data-controller="check" data-check-container-value="tbody" data-check-form-outlet="form.button_to">
  <%= check_box_tag 'xxd', 'xx', false, data: { check_target: 'all', action: 'check#toggleAll' }, id: nil %>
</th>
<th>
  <p><%= SolidQueue::Job.human_attribute_name(:id) %></p>
  <p><%= SolidQueue::Job.human_attribute_name(:status) %></p>
</th>
<th>
  <p><%= SolidQueue::Job.human_attribute_name(:class_name) %></p>
  <p><%= SolidQueue::Job.human_attribute_name(:created_at) %></p>
  <p><%= SolidQueue::Job.human_attribute_name(:scheduled_at) %></p>
</th>
<th>
  <p><%= SolidQueue::Job.human_attribute_name(:arguments) %></p>
  <p><%= SolidQueue::FailedExecution.human_attribute_name(:error) %></p>
</th>
