<td><%= check_box_tag 'xx', model.id, id: nil %></td>
<td>
  <p>
    <%= link_to({ controller: 'jobs', action: 'show', id: model.id }) do %>
      <%= model.id %>
    <% end %>
  </p>
  <p><span class="tag"><%= model.status %></span></p>
</td>
<td>
  <p><%= model.class_name %></p>
  <p class="text-grey"><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></p>
  <p>
    <time data-controller="time" data-format="human"><%= model.scheduled_at.to_fs(:iso8601) %></time>
  </p>
  <p>
    <span class="text-grey">已超时：</span>
    <span
      data-controller="time-count"
      data-time-count-time-value="<%= model.scheduled_at.to_fs(:iso8601) %>"
      class="text-danger"
    ><%= exact_distance_time(model.scheduled_at, Time.current) %></span>
  </p>
</td>
<td>
  <pre><%= model.arguments['arguments'][0].to_format_yaml %></pre>
  <p class="text-danger"><%= model.failed_execution.error['message'] %></p>
</td>
