<th><%= Com::PgStatSubscription.human_attribute_name(:worker_type) %></th>
<th>
  <p><%= Com::PgStatSubscription.human_attribute_name(:pid) %></p>
  <p><%= Com::PgStatSubscription.human_attribute_name(:leader_pid) %></p>
</th>
<th>
  <p><%= Com::PgStatSubscription.human_attribute_name(:received_lsn) %></p>
  <p><%= Com::PgStatSubscription.human_attribute_name(:latest_end_lsn) %></p>
</th>
<th>
  <p><%= Com::PgStatSubscription.human_attribute_name(:last_msg_send_time) %></p>
  <p><%= Com::PgStatSubscription.human_attribute_name(:last_msg_receipt_time) %></p>
  <p><%= Com::PgStatSubscription.human_attribute_name(:latest_end_time) %></p>
</th>
