<td>
  <p>
    <%= link_to({ controller: 'jobs', action: 'show', id: model.active_job_id }) do %>
      <%= model.id %>
    <% end %>
  </p>
  <p><%= model.arguments['job_class'] %></p>
  <p><%= model.queue_name %></p>
  <p class="text-grey"><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<td>
<% model.arguments['arguments'].each do |arg| %>
  <%= simple_format(arg) %>
<% end %>
</td>
