<th></th>
<th>
  <p><%= ActiveStorage::Blob.human_attribute_name(:id) %></p>
  <p><%= ActiveStorage::Blob.human_attribute_name(:key) %></p>
  <p><%= ActiveStorage::Blob.human_attribute_name(:service_name) %></p>
</th>
<th>
  <p><%= ActiveStorage::Blob.human_attribute_name(:filename) %></p>
  <p><%= ActiveStorage::Blob.human_attribute_name(:content_type) %></p>
</th>
<th><%= ActiveStorage::Blob.human_attribute_name(:metadata) %></th>
<th>
  <p><%= ActiveStorage::Blob.human_attribute_name(:size) %></p>
  <p><%= ActiveStorage::Blob.human_attribute_name(:created_at) %></p>
</th>
<th></th>
