<td><%= image_tag model.url, class: 'image is-64x64' if model.image? && model.url.present? %></td>
<td>
  <p><%= model.id %></p>
  <p class="family-monospace"><%= model.key %></p>
  <p><span class="tag"><%= model.service_name %></span></p>
</td>
<td>
  <% if model.url.present? %>
    <p><%= link_to model.filename, model.url %></p>
  <% else %>
    <p><%= model.filename %></p>
  <% end %>
  <p>
    <span><%= model.content_type %></span>
    <span class="tag"><%= number_to_human_size(model.byte_size) %></span>
  </p>
  <p><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<td><%= simple_format(model.metadata) %></td>
<td>
  <% model.attachments.each do |attachment| %>
    <%= link_to "#{attachment.record_type}_#{attachment.record_id}", { controller: 'com/panel/attachments', id: attachment.id } %>
  <% end %>
</td>
