<tr>
  <td><%= cache_list.id %></td>
  <td><%= cache_list.path %></td>
  <td><%= cache_list.key %></td>
  <td><%= cache_list.etag %></td>
  <td>
    <%= link_to panel_cache_list_path(cache_list), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to edit_panel_cache_list_path(cache_list), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to panel_cache_list_path(cache_list), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </td>
</tr>
