<%= form_with model: @device_organ, url: { action: 'update' } do |f| %>
  <%= render 'error_messages', target: f.object %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label"><%= JiaBo::DeviceOrgan.human_attribute_name(:organ_id) %></label>
    </div>
    <div class="field-body">
      <div data-controller="typer" data-typer-url-value="<%= url_for(action: 'search_organs') %>" data-typer-method-value="post" class="panel">
        <%= f.hidden_field :organ_id, data: { typer_target: 'value' } %>
        <div class="control has-icons-left">
          <%= search_field_tag 'name-like', nil, class: 'input', placeholder: '搜索', data: { typer_target: 'input' } %>
          <span class="icon is-left"><i class="fa-solid fa-search"></i></span>
        </div>
        <div class="panel" id="organs_content"></div>
      </div>
    </div>
  </div>
  <%= f.submit %>
<% end %>
