<th><%= Com::State.human_attribute_name(:id) %></th>
<th>
  <p><%= Com::State.human_attribute_name(:controller_path) %></p>
  <p><%= Com::State.human_attribute_name(:action_name) %></p>
</th>
<th><%= Com::State.human_attribute_name(:destroyable) %></th>
<th>
  <p><%= Com::State.human_attribute_name(:created_at) %></p>
  <p><%= Com::State.human_attribute_name(:updated_at) %></p>
</th>
