<td><%= model.address %></td>
<td><%= model.port %></td>
<td><%= model.authentication %></td>
<td><%= model.enable_starttls_auto %></td>
<td><%= model.ssl %></td>
<td><%= model.openssl_verify_mode %></td>
