<tr>
  <td class="has-text-right"><%= Smtp.human_attribute_name(:address) %></td>
  <td><%= @smtp.address %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Smtp.human_attribute_name(:port) %></td>
  <td><%= @smtp.port %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Smtp.human_attribute_name(:authentication) %></td>
  <td><%= @smtp.authentication %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Smtp.human_attribute_name(:enable_starttls_auto) %></td>
  <td><%= @smtp.enable_starttls_auto %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Smtp.human_attribute_name(:ssl) %></td>
  <td><%= @smtp.ssl %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Smtp.human_attribute_name(:openssl_verify_mode) %></td>
  <td><%= @smtp.openssl_verify_mode %></td>
</tr>
