<td><%= model.identifier %></td>
<td>
  <p><%= model.file_name %></p>
  <p><%= model.file_content %></p>
</td>
<td>
  <p><%= model.record_name %></p>
  <p><%= model.record_content %></p>
</td>
<td><%= model.domain %></td>
<td><%= model.dns_valid %></td>
