<td><%= model.identifier %></td>
<td><%= model.file_name %></td>
<td><%= model.file_content %></td>
<td><%= model.record_name %></td>
<td><%= model.record_content %></td>
<td><%= model.domain %></td>
<td><%= model.dns_valid %></td>
