<th>
  <p><%= Com::AcmeIdentifier.human_attribute_name(:domain) %></p>
  <p><%= Com::AcmeIdentifier.human_attribute_name(:identifier) %></p>
</th>
<th>
  <p><%= Com::AcmeIdentifier.human_attribute_name(:file_name) %></p>
  <p><%= Com::AcmeIdentifier.human_attribute_name(:file_content) %></p>
</th>
<th>
  <p><%= Com::AcmeIdentifier.human_attribute_name(:record_name) %></p>
  <p><%= Com::AcmeIdentifier.human_attribute_name(:record_content) %></p>
</th>
<th>
  <p><%= Com::AcmeIdentifier.human_attribute_name(:dns_valid) %></p>
  <p><%= Com::AcmeIdentifier.human_attribute_name(:file_valid) %></p>
</th>
<th></th>
