<div>
  <dt><%= Com::AcmeIdentifier.human_attribute_name(:identifier) %></dt>
  <dd><%= @acme_identifier.identifier %></dd>
</div>
<div>
  <dt><%= Com::AcmeIdentifier.human_attribute_name(:file_name) %></dt>
  <dd><%= @acme_identifier.file_name %></dd>
</div>
<div>
  <dt><%= Com::AcmeIdentifier.human_attribute_name(:file_content) %></dt>
  <dd><%= @acme_identifier.file_content %></dd>
</div>
<div>
  <dt><%= Com::AcmeIdentifier.human_attribute_name(:record_name) %></dt>
  <dd><%= @acme_identifier.record_name %></dd>
</div>
<div>
  <dt><%= Com::AcmeIdentifier.human_attribute_name(:record_content) %></dt>
  <dd><%= @acme_identifier.record_content %></dd>
</div>
<div>
  <dt><%= Com::AcmeIdentifier.human_attribute_name(:domain) %></dt>
  <dd><%= @acme_identifier.domain %></dd>
</div>
