<tr>
  <td><%= Com::AcmeIdentifier.human_attribute_name(:identifier) %></td>
  <td><%= @acme_identifier.identifier %></td>
</tr>
<tr>
  <td><%= Com::AcmeIdentifier.human_attribute_name(:file_name) %></td>
  <td><%= @acme_identifier.file_name %></td>
</tr>
<tr>
  <td><%= Com::AcmeIdentifier.human_attribute_name(:file_content) %></td>
  <td><%= @acme_identifier.file_content %></td>
</tr>
<tr>
  <td><%= Com::AcmeIdentifier.human_attribute_name(:record_name) %></td>
  <td><%= @acme_identifier.record_name %></td>
</tr>
<tr>
  <td><%= Com::AcmeIdentifier.human_attribute_name(:record_content) %></td>
  <td><%= @acme_identifier.record_content %></td>
</tr>
<tr>
  <td><%= Com::AcmeIdentifier.human_attribute_name(:domain) %></td>
  <td><%= @acme_identifier.domain %></td>
</tr>
