<td>
  <p>
    <%= link_to({ controller: 'jobs', action: 'show', id: model.serialized_params['job_id'] }) do %>
      <%= model.active_job_id %>
    <% end %>
  </p>
  <p>
    <%= link_to({ controller: 'jobs', action: 'show', id: model.active_job_id, anchor: dom_id(model) }) do %>
      <%= model.id %>
    <% end %>
  </p>
</td>
<td>
  <p><%= model.serialized_params['job_class'] %></p>
  <p><%= model.queue_name %></p>
  <p data-controller="time-count" data-time-count-time-value="<%= model.scheduled_at&.to_fs(:iso8601) %>"><%= exact_distance_time(model.scheduled_at || model.created_at, Time.current) %></p>
  <p><%= model.status %></p>
</td>
<td class="text-break"><%= truncate(model.error, length: 1_000) %></td>
