<th><%= Com::Counter.human_attribute_name(:value) %></th>
<th><%= Com::Counter.human_attribute_name(:extra) %></th>
<th>
  <p><%= Com::Counter.human_attribute_name(:created_at) %></p>
  <p><%= Com::Counter.human_attribute_name(:updated_at) %></p>
</th>
<th>
  <p><%= Com::Counter.human_attribute_name(:counter_months_count) %></p>
  <p><%= Com::Counter.human_attribute_name(:counter_days_count) %></p>
</th>