<% if target.is_a?(ActiveStorage::Attached::One) %>
  <% if target.content_type.to_s.start_with?('image') %>
    <%= render partial: 'com/attachments/image_preview', locals: { image: target, f: f } %>
  <% elsif target.content_type.to_s.start_with?('video') %>
    <%= render partial: 'com/attachments/video_item', locals: { video: target, f: f } %>
  <% elsif !target.attached? %>
    <%= render partial: 'com/attachments/file_upload', locals: { target: target, f: f } %>
  <% else %>
    <p id="attachment_<%= target.id %>">
      <%= link_to target.filename, rails_ext_blob_path(target) %>
      <%= link_to 'x', admin_attachment_path(target.id), method: :delete, data: { turbo_confirm: t('.confirm') } %>
    </p>
  <% end %>
<% elsif target.is_a?(ActiveStorage::Attached::Many) %>
  <%= render partial: 'com/attachments/file_upload', locals: { target: target, f: f } %>
  <% target.each do |file| %>
    <% if file.content_type.to_s.start_with?('image') %>
      <%= render partial: 'com/attachments/image_preview', locals: { image: file, f: f } %>
    <% elsif file.content_type.to_s.start_with?('video') %>
      <%= render partial: 'com/attachments/video_item', locals: { video: file, f: f } %>
    <% else %>
      <p id="attachment_<%= file.id %>">
        <%= link_to file.filename, rails_ext_blob_path(file) %>
        <%= button_to 'x', { controller: 'com/panel/attachments', action: 'destroy', id: file.id }, method: :delete, data: { turbo_confirm: t('.confirm') } %>
      </p>
    <% end %>
  <% end %>
<% end %>
