<div class="box is-padding-less mx-3 mt-3">
  <%= render 'profile_item' %>
</div>

<%= render 'org_nav' %>
<%= render 'crm_nav' %>
<%= render 'factory_nav' %>
<%= render 'trade_nav' %>
<%= render 'bench_nav' %>
<%= render 'space_nav' %>
<%= render 'jiabo_nav' %>
