<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ action: 'reflections', id: model.id, **request.query_parameters.except(:id, :page, :per) }, aria: { label: t('.reflections.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-sitemap color-success"></i>
      <% end %>
      <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info color-info"></i>
      <% end %>
      <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil color-link"></i>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
        <i class="fa-solid fa-trash color-danger"></i>
      <% end %>
    </div>
  </td>
</tr>
