<div class="field is-horizontal" id="parameters_<%= params[:index] %>">
  <label class="field-label is-normal"></label>
  <div class="field-body">
    <%= f.fields :parameters, index: params[:index], wrap: { all: false, label: false, placeholder: true, input: 'field > control', select: 'field is-narrow > control > select is-fullwidth' } do |pf| %>
      <%= pf.text_field :column %>
      <%= pf.select :value, options_for_select(RailsCom.config.mapping.keys), class: 'ui dropdown selection' %>
      <div class="field is-flex">
        <%= link_to extra_add_item_path(index: params[:index].to_i + 1, scope: params[:scope]), remote: true do %>
          <i class="fas fa-plus"></i>
        <% end %>
        <%= link_to extra_remove_item_path(index: params[:index].to_i, scope: params[:scope]), remote: true do %>
          <i class="fas fa-minus"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
