<% model.form_parameters.each_with_index do |parameter, index| %>
  <%= f.fields :parameters, model: parameter, index: index, wrap: { all: false, input: 'field > control', select: 'field is-narrow > control > select is-fullwidth', label: false, placeholder: true } do |pf| %>
    <div class="field is-horizontal" data-controller="field" data-field-index-value="<%= index %>">
      <%= f.label :form_parameters, '参数' %>
      <div class="field-body">
        <%= pf.text_field :column, value: parameter.key %>
        <%= pf.select :value, options_for_select(RailsCom.config.mapping.keys, parameter.value) %>
        <div class="field is-flex">
          <i class="fas fa-plus" style="cursor: pointer" data-action="click->field#add"></i>
          <i class="fas fa-minus" style="cursor: pointer" data-action="click->field#remove"></i>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
