<% model.form_parameters.each_with_index do |parameter, index| %>
  <%= f.fields :parameters, model: parameter, index: index, label: nil, placeholder: true, wrap: { all: false, input: 'field > control', select: 'field is-narrow > control > select is-fullwidth' } do |pf| %>
    <div class="field is-horizontal" data-controller="field" data-field-index-value="<%= index %>">
      <%= f.label :form_parameters, '参数' %>
      <div class="field-body">
        <%= pf.text_field :column, value: parameter.key, autocomplete: 'off' %>
        <%= pf.select :value, options_for_select(DefaultForm.config.mapping.keys, parameter.value) %>
        <div class="field flex">
          <i data-action="click->field#add" class="fa-solid fa-plus cursor-pointer"></i>
          <i data-action="click->field#remove" class="fa-solid fa-minus cursor-pointer"></i>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
