<div class="tabs">
  <ul>
    <li class="<%= active_helper(action: 'index', active: 'is-active') %>">
      <%= link_to t('job.panel.jobs.index.title'), { action: 'index' } %>
    </li>
    <li class="<%= active_helper(action: 'scheduled', active: 'is-active') %>">
      <%= link_to t('job.panel.jobs.scheduled.title'), { action: 'scheduled' } %>
    </li>
    <li class="<%= active_helper(action: 'running', active: 'is-active') %>">
      <%= link_to t('job.panel.jobs.running.title'), { action: 'running' } %>
    </li>
    <li class="<%= active_helper(action: 'discarded', active: 'is-active') %>">
      <%= link_to t('job.panel.jobs.discarded.title'), { action: 'discarded' } %>
    </li>
  </ul>
</div>
