<div>
  <dt><%= Com::MetaNamespace.human_attribute_name(:name) %></dt>
  <dd><%= @meta_namespace.name %></dd>
</div>
<div>
  <dt><%= Com::MetaNamespace.human_attribute_name(:identifier) %></dt>
  <dd><%= @meta_namespace.identifier %></dd>
</div>
<div>
  <dt><%= Com::MetaNamespace.human_attribute_name(:verify_organ) %></dt>
  <dd><%= @meta_namespace.verify_organ %></dd>
</div>
<div>
  <dt><%= Com::MetaNamespace.human_attribute_name(:verify_member) %></dt>
  <dd><%= @meta_namespace.verify_member %></dd>
</div>
<div>
  <dt><%= Com::MetaNamespace.human_attribute_name(:verify_user) %></dt>
  <dd><%= @meta_namespace.verify_user %></dd>
</div>
