<tr>
  <td><%= Com::MetaNamespace.human_attribute_name(:name) %></td>
  <td><%= @meta_namespace.name %></td>
</tr>
<tr>
  <td><%= Com::MetaNamespace.human_attribute_name(:identifier) %></td>
  <td><%= @meta_namespace.identifier %></td>
</tr>
<tr>
  <td><%= Com::MetaNamespace.human_attribute_name(:verify_organ) %></td>
  <td><%= @meta_namespace.verify_organ %></td>
</tr>
<tr>
  <td><%= Com::MetaNamespace.human_attribute_name(:verify_member) %></td>
  <td><%= @meta_namespace.verify_member %></td>
</tr>
<tr>
  <td><%= Com::MetaNamespace.human_attribute_name(:verify_user) %></td>
  <td><%= @meta_namespace.verify_user %></td>
</tr>
