<th><%= Com::StatisticDay.human_attribute_name(:date) %></th>
<th><%= Com::StatisticDay.human_attribute_name(:value) %></th>
<th><%= Com::StatisticDay.human_attribute_name(:count) %></th>
<th>
  <p><%= Com::StatisticDay.human_attribute_name(:created_at) %></p>
  <p><%= Com::StatisticDay.human_attribute_name(:updated_at) %></p>
</th>
