<th><%= Com::StatisticMonth.human_attribute_name(:month) %></th>
<th><%= Com::StatisticMonth.human_attribute_name(:value) %></th>
<th><%= Com::StatisticMonth.human_attribute_name(:count) %></th>
<th>
  <p><%= Com::StatisticMonth.human_attribute_name(:created_at) %></p>
  <p><%= Com::StatisticMonth.human_attribute_name(:updated_at) %></p>
</th>
