<th>
  <p><%= Com::AcmeAccount.human_attribute_name(:email) %></p>
  <p class="color-grey"><%= Com::AcmeAccount.human_attribute_name(:kid) %></p>
</th>
<th>
  <p><%= Com::AcmeAccount.human_attribute_name(:ali_key) %></p>
  <p><%= Com::AcmeAccount.human_attribute_name(:ali_secret) %></p>
</th>
<th><%= Com::AcmeAccount.human_attribute_name(:private_pem) %></th>
