<div class="button_tos">
<% meta_controller.meta_actions.each do |meta_action| %>
  <% if meta_action.landmark %>
    <%= button_to({ controller: 'meta_actions', action: 'update', meta_controller_id: meta_controller.id, id: meta_action.id }, params: { 'meta_action[landmark]': 0 }, method: :patch) do %>
      <i class="fa-regular fa-lg fa-check-square"></i>
      <span aria-label="<%= meta_action.action_name %>" class="text-grey"><%= meta_action.name %></span>
    <% end %>
  <% else %>
    <%= button_to({ controller: 'meta_actions', action: 'update', meta_controller_id: meta_controller.id, id: meta_action.id }, params: { 'meta_action[landmark]': 1 }, method: :patch) do %>
      <i class="fa-regular fa-lg fa-square"></i>
      <span aria-label="<%= meta_action.action_name %>" class="text-grey"><%= meta_action.name %></span>
    <% end %>
  <% end %>
<% end %>
</div>
