<th><%= Com::MetaColumn.human_attribute_name(:column_name) %></th>
<th>
  <p><%= Com::MetaColumn.human_attribute_name(:column_type) %></p>
  <p class="has-text-grey">
    <span><%= Com::MetaColumn.human_attribute_name(:sql_type) %></span>
    <span>(<%= @meta_model.record_class.connection.adapter_name %>)</span>
  </p>
</th>
<th><%= Com::MetaColumn.human_attribute_name(:column_limit) %></th>
<th><%= Com::MetaColumn.human_attribute_name(:defined_db) %></th>
<th><%= Com::MetaColumn.human_attribute_name(:defined_model) %></th>
<th></th>
