<td>
<% model.identifiers.each do |i| %>
  <p><%= i %></p>
<% end %>
</td>
<td>
  <% if model.private_pem_blob %>
    <p><%= link_to model.private_pem_blob.filename, model.private_pem_blob.url %></p>
  <% end %>
  <% if model.cert_key_blob %>
    <p><%= link_to model.cert_key_blob.filename, model.cert_key_blob.url %></p>
  <% end %>
</td>
<td>
  <p><%= model.status %></p>
  <p><time data-controller="time"><%= model.issued_at&.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p><%= model.sync_host %></p>
  <p><%= model.sync_path %></p>
</td>
