<th><%= Com::SshKey.human_attribute_name(:id) %></th>
<th>
  <p><%= Com::SshKey.human_attribute_name(:host) %></p>
</th>
<th><%= Com::SshKey.human_attribute_name(:public_key) %></th>
<th>
  <p><%= Com::SshKey.human_attribute_name(:created_at) %></p>
  <p><%= Com::SshKey.human_attribute_name(:updated_at) %></p>
</th>
