<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info text-info"></i>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-trash text-danger"></i>
      <% end %>
      <%= button_to({ action: 'clean_other', id: model.id }, method: :delete, aria: { label: t('.clean_other.title') }, data: { turbo_confirm: t('.clean_other.confirm') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-trash-arrow-up text-danger-dark"></i>
      <% end %>
    </div>
  </td>
</tr>
