<th id="xxd" data-controller="check" data-check-check-commit-outlet="form">
  <%= check_box_tag 'xxd', 'xx', false, data: { check_target: 'all', action: 'check#toggleAll' }, id: nil %>
</th>
<th style="width: 4rem"><%= Com::Err.human_attribute_name(:id) %></th>
<th>
  <p><%= Com::Err.human_attribute_name(:path) %></p>
  <p><%= Com::Err.human_attribute_name(:params) %></p>
  <p><%= Com::Err.human_attribute_name(:session) %></p>
  <p><%= Com::Err.human_attribute_name(:exception) %></p>
</th>
<th><%= Com::Err.human_attribute_name(:created_at) %></th>
