<td><%= link_to model.id, { controller: 'errs', err_summary_id: model.id }, text: true %></td>
<td>
  <p><%= model.controller_name %></p>
  <p><%= model.action_name %></p>
</td>
<td><%= model.exception_object %></td>
<td>
  <p><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></p>
  <p class="has-text-success"><time data-controller="time" data-format="human"><%= model.updated_at.to_fs(:iso8601) %></time></p>
</td>
