<td>
  <p>
    <%= link_to({ controller: 'jobs', action: 'show', id: model.id }) do %>
      <%= model.id %>
    <% end %>
  </p>
</td>
<td><%= model.status %></td>
<td>
  <p><%= model.class_name %></p>
  <p>
    <span class="text-grey">已超时：</span>
    <span
      data-controller="time-count"
      data-time-count-time-value="<%= model.scheduled_at.to_fs(:iso8601) %>"
      class="text-danger"
    ><%= exact_distance_time(model.scheduled_at, Time.current) %></span>
  </p>
</td>
<td>
  <pre><%= model.arguments.to_format_yaml %></pre>
</td>
