<th>
  <p><%= Com::Statistic.human_attribute_name(:statistical_type) %></p>
  <p><%= Com::Statistic.human_attribute_name(:statistical_id) %></p>
</th>
<th>
  <p><%= Com::Statistic.human_attribute_name(:column) %></p>
  <p><%= Com::Statistic.human_attribute_name(:value) %></p>
</th>
<th><%= Com::Statistic.human_attribute_name(:extra) %></th>
<th>
  <p><%= Com::Statistic.human_attribute_name(:created_at) %></p>
  <p><%= Com::Statistic.human_attribute_name(:updated_at) %></p>
</th>
