<td>
  <div class="is-several">
    <%= image_tag model.logo, class: 'image is-24x24' if model.logo.attached? %>
    <%= link_to model.name, { action: 'show', id: model.id }, text: true %>
    <%= button_to({ action: 'move_higher', id: model.id }, method: :patch, data: { 'show-target': 'item' }, class: 'visibility-hidden') do %>
      <i class="fa-solid fa-arrow-up"></i>
    <% end %>
    <%= button_to({ action: 'move_lower', id: model.id }, method: :patch, data: { 'show-target': 'item' }, class: 'visibility-hidden') do %>
      <i class="fa-solid fa-arrow-down"></i>
    <% end %>
  </div>
</td>
<td><%= model.identifier %></td>
