<div class="<%= active_helper(modules: 'com/admin', active_class: 'menu ex-accordion is-active', item_class: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do -%>
    <%= link_to '默认', admin_blob_defaults_path, class: active_helper(controllers: 'blob_defaults') %>
    <%= link_to 'blobs', admin_blobs_path, class: active_helper(controllers: 'blobs') %>
    <%= link_to 'attachments', admin_attachments_path, class: active_helper(controllers: 'attachments') %>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fas fa-images fa-fw"></i>
    <span>资源</span>
    <i class="fas dropdown"></i>
  </a>
</div>
