<% if defined?(current_user) && current_user %>
  <div class="navbar-item has-dropdown is-hoverable">
    <div class="navbar-link">
      <%= image_tag current_user.avatar if current_user.avatar.attached? %>
      <span><%= current_user.name %></span>
    </div>
    <div class="navbar-dropdown is-right">
      <%= link_to '个人中心', { controller: '/board/home' }, class: active_helper(controllers: ['users'], active: 'navbar-item is-active', item: 'navbar-item') %>
      <%= link_to '退出', { controller: '/auth/sign', action: 'logout' }, data: { confirm: '确认退出' }, class: 'navbar-item' %>
    </div>
  </div>
<% elsif defined?(RailsAuth) %>
  <%= link_to({ controller: '/auth/sign', action: 'sign' }, class: 'navbar-item') do %>
    <i class="fas fa-user"></i>
    <span>登陆/注册</span>
  <% end %>
<% end %>
