<nav data-controller="switch" class="level mb-2 box is-narrow">
  <div class="level-left">
    <%= render 'button_actions' %>
    <%= render 'filter_form' %>
  </div>
  <div class="level-right">
    <button data-action="switch#toggle" data-id="filter_form" class="button">
      <span class="icon is-small"><i class="fa-solid fa-search"></i></span>
    </button>
    <%= form_with theme: nil, scope: :filter, url: { controller: 'com/admin/filters', action: 'detect' }, class: 'button_to' do |f| %>
      <%= f.hidden_field :controller_path, value: controller_path %>
      <%= f.hidden_field :action_name, value: action_name %>
      <%= f.fields :filter_columns_attributes do |ef| %>
        <% request.query_parameters.each_with_index do |col, index| %>
          <%= ef.hidden_field :column, value: col[0], index: index %>
          <%= ef.hidden_field :value, value: col[1], index: index %>
        <% end %>
      <% end %>
      <button type="submit" class="button">
        <i class="fa-solid fa-floppy-disk"></i>
      </button>
    <% end %>
    <%= render 'filter_dropdown' %>
    <%= render 'filter_per' %>
  </div>
</nav>
