<nav data-controller="switch" class="level mb-2 box is-narrow">
  <div class="level-left">
    <%= render 'button_actions' %>
    <%= render 'filter_form' %>
    <div class="buttons">
      <%= render partial: 'filter_form_tag', collection: current_filters, as: :filter %>
    </div>
  </div>
  <div class="level-right">
    <button data-action="switch#toggle" data-id="filter_form" class="button">
      <span class="icon is-small"><i class="fa-solid fa-search"></i></span>
    </button>
    <% if filter = current_filters.find(&->(i){ i.id.to_s == params[:filter_id] }) %>
      <%= render partial: 'filter_form_update', locals: { filter: filter } %>
    <% else %>
      <%= render 'filter_form_create' %>
    <% end %>
    <%= render 'filter_dropdown' %>
    <%= render 'filter_per' %>
  </div>
</nav>
