<div data-switch-target="src" class="tags display-none">
  <% raw_filter_params.each do |key, value| %>
    <div id="filter_container_<%= key %>" data-controller="popup" class="max-fullwidth">
    <% if record_class.columns_hash.key?(key) && record_class.columns_hash[key].type == :boolean %>
      <%= button_to({ controller: 'com/admin/filters', action: 'column_single' }, params: { record_name: record_class.name, column_name: key, value: value }) do %>
        <span class="tag is-primary"><%= record_class.enum_i18n(key, value) %></span>
      <% end %>
      <%= hidden_field_tag key, value, id: nil, form: 'filter_search_form' %>
    <% elsif record_class.columns_hash.key?(key) && record_class.columns_hash[key].type == :datetime %>
      <%= button_to({ controller: 'com/admin/filters', action: 'column_single' }, params: { record_name: record_class.name, column_name: key, value: value }, class: 'tags has-addons mb-0') do %>
        <span class="tag"><%= record_class.human_attribute_name(key) %></span>
        <span class="tag is-primary justify-content-flex-start overflow-x-hidden">
          <time data-controller="time"><%= value['gte'] %></time>
          <span>-</span>
          <time data-controller="time"><%= value['lte'] %></time>
        </span>
      <% end %>
      <%= hidden_field_tag "#{key}-gte", value['gte'], id: nil, form: 'filter_search_form' %>
      <%= hidden_field_tag "#{key}-lte", value['lte'], id: nil, form: 'filter_search_form' %>
    <% else %>
      <%= button_to({ controller: 'com/admin/filters', action: 'column_single' }, params: { record_name: record_class.name, column_name: key, value: value }) do %>
        <div class="tags has-addons mb-0">
          <span class="tag"><%= record_class.human_attribute_name(key) %></span>
          <span class="tag is-primary"><%= value %></span>
        </div>
      <% end %>
      <%= hidden_field_tag key, value, id: nil, form: 'filter_search_form' %>
    <% end %>
    </div>
  <% end %>
  <div id="filter_container" data-controller="popup">
    <%= button_to({ action: 'filter' }, params: { keys: request.GET.keys }, class: 'button') do %>
    <span class="icon">
      <i class="fa-solid fa-plus"></i>
    </span>
    <% end %>
  </div>
</div>
