<div data-switch-target="src" class="tags display-none">
  <% raw_filter_params.each do |key, value| %>
    <div id="filter_container_<%= key %>" data-controller="popup" class="max-fullwidth size-0">
      <% if record_class.columns_hash.key?(key) && record_class.columns_hash[key].type == :boolean %>
        <%= render partial: 'filter_extend_text', locals: { record_class: record_class, key: key, value: value, scope: nil, form: 'filter_search_form' } %>
      <% elsif record_class.columns_hash.key?(key) && record_class.columns_hash[key].type == :datetime %>
        <%= render partial: 'filter_extend_datetime', locals: { record_class: record_class, key: key, value: value, scope: nil, form: 'filter_search_form' } %>
      <% elsif record_class.columns_hash.key?(key) && value.is_a?(Hash) %>
        <%= render partial: 'filter_extend_text', locals: { record_class: record_class, key: key, value: value, scope: nil, form: 'filter_search_form' } %>
      <% else %>
        <%= render partial: 'filter_extend_text', locals: { record_class: record_class, key: key, value: value, scope: nil, form: 'filter_search_form' } %>
      <% end %>
      <%= link_to({ **request.GET.except(key) }, class: 'tag is-primary as-attached-right') do %>
        <i class="delete"></i>
      <% end %>
    </div>
  <% end %>
  <div id="filter_container" data-controller="popup">
    <%= button_to({ action: 'filter' }, params: { keys: request.GET.keys }, class: 'button is-small') do %>
      <span class="icon">
        <i class="fa-solid fa-plus"></i>
      </span>
    <% end %>
  </div>
</div>
