<%= render 'filter_form' %>
<%= render 'filter_table' %>
<div class="buttons are-small mb-0 pt-2">
  <%= render 'button' %>
</div>

<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <% if defined? cache_key %>
        <% cache cache_key do %>
          <%= render 'index_thead' %>
        <% end %>
      <% else %>
        <%= render 'index_thead' %>
      <% end %>
      <%= render 'index_thead_actions' %>
    </tr>
  </thead>
  <tbody id="tbody" data-controller="sortable">
    <%= yield %>
  </tbody>
  <tfoot>
    <tr>
      <%= render 'index_tfoot' %>
    </tr>
  </tfoot>
</table>
