<nav data-controller="switch" class="level mb-2 box is-narrow">
  <div class="level-left">
    <%= render 'filter_form' %>
    <%= render 'filter_default' %>
    <% if current_filters.present? %>
    <div data-switch-target="src" class="buttons are-small">
      <%= link_to t('.all'), {}, class: 'button is-light' %>
      <%= render partial: 'filter_form_tag', collection: current_filters, as: :filter %>
    </div>
    <% end %>
  </div>
  <div class="level-right">
    <button data-action="switch#toggle" data-id="filter_form" class="button">
      <span class="icon is-small"><i class="fa-solid fa-search"></i></span>
    </button>
    <% if filter = current_filters.find(&->(i){ i.id.to_s == params[:filter_id] }) %>
      <%= render partial: 'filter_form_update', locals: { filter: filter } %>
    <% else %>
      <%= render 'filter_form_create' %>
    <% end %>
    <%= render 'filter_dropdown' %>
  </div>
</nav>
