<nav class="navbar is-sticky is-light" data-controller="navbar" data-navbar-scroll-value="true" data-navbar-new-class="is-dark" data-navbar-old-class="is-light">
  <div class="navbar-brand">
    <%= render 'nav_brand' %>
    <a class="navbar-burger" data-action="navbar#toggle">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" data-navbar-target="menu">
    <div class="navbar-start">
      <% if defined?(current_user) && current_user %>
        <%= render 'nav_with_login' %>
      <% else %>
        <%= render 'nav_without_login' %>
      <% end %>
    </div>
    <div class="navbar-end">
      <%= render partial: 'notice_navbar' if defined? RailsNotice %>
      <%= render partial: 'auth_navbar' %>
    </div>
  </div>
</nav>
