<%= form_with model: model, scope: model_name, url: { action: 'create' }, class: 'modal-card' do |f| %>
  <header class="modal-card-head">
    <p class="modal-card-title"><%= t('.title') %></p>
    <button type="button" data-action="modal#close" class="delete"></button>
  </header>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object if f.object.errors.present? %>
    <%= render partial: 'form', locals: { f: f } %>
  </section>
  <footer class="modal-card-foot is-block">
    <%= f.submit %>
  </footer>
<% end %>
