<table class="table is-fullwidth is-striped as-show">
  <thead>
    <tr>
      <th></th>
      <th>
        <%= button_to t('.edit.title'), { action: 'edit' }, class: 'button is-small is-link' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>ID</th>
      <td><%= model.id %></td>
    </tr>
    <%= render 'show_table' %>
    <tr>
      <th>添加时间</th>
      <td><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></td>
    </tr>
    <tr>
      <th>更新时间</th>
      <td><time data-controller="time" data-format="human"><%= model.updated_at.to_fs(:iso8601) %></time></td>
    </tr>
  </tbody>
</table>
