<%= link_to({ controller: '/home' }, class: active_helper(controller: '/home', active: 'is-active')) do %>
  <i class="fa-solid fa-house size-5"></i>
  <div class="size-7"><%= t('home.index.title') %></div>
<% end %>
<%= link_to({ controller: '/factory/productions' }, class: active_helper(controller: '/factory/productions', action: 'index', product_taxon_id: nil, active: 'is-active')) do %>
  <i class="fa-solid fa-store size-5"></i>
  <div class="size-7">商城</div>
<% end if defined?(RailsFactory) %>
<% Factory::Taxon.default_where(default_params).nav.each do |taxon| %>
  <%= link_to({ controller: '/factory/productions', action: 'nav', product_taxon_id: taxon.id }, class: active_helper(controller: '/factory/productions', action: 'nav', product_taxon_id: taxon.id, active: 'is-active')) do %>
    <% if active_helper_bool(controller: '/factory/productions', action: 'nav', product_taxon_id: taxon.id) %>
      <%= image_tag taxon.logo_color, class: 'size-5' if taxon.logo_color.attached? %>
    <% else %>
      <%= image_tag taxon.logo, class: 'size-5' if taxon.logo.attached? %>
    <% end %>
    <div class="size-7"><%= taxon.name %></div>
  <% end %>
<% end if defined?(RailsFactory) %>
<%= link_to({ controller: '/my/home', action: 'index', **params.permit(:global_member_id) }, class: active_helper(controllers: 'my/home', active: 'is-active')) do %>
  <i class="fa-solid fa-user size-5"></i>
  <div class="size-7"><%= t('my.home.index.title') %></div>
<% end %>
