<tr id="tr_<%= meta_controller.id %>">
  <td><%= meta_controller.namespace_identifier %></td>
  <td>
    <%= button_to({ action: 'move_higher', id: meta_controller.id }, method: :patch, class: 'color-grey-lighter') do %>
      <i class="fa-solid fa-arrow-up"></i>
    <% end %>
    <%= button_to({ action: 'move_lower', id: meta_controller.id }, method: :patch, class: 'color-grey-lighter') do %>
      <i class="fa-solid fa-arrow-down"></i>
    <% end %>
    <span aria-label="<%= meta_controller.identifier %>"><%= meta_controller.name %></span>
    <%= link_to({ action: 'edit', id: meta_controller.id }, aria: { label: t('.edit.title') }, class: 'color-grey-lighter') do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
  </td>
  <td>
    <% meta_controller.meta_actions.each do |meta_action| %>
      <div>
        <span aria-label="<%= meta_action.action_name %>"><%= meta_action.name %></span>
        <%= link_to({ controller: 'meta_actions', action: 'edit', meta_controller_id: meta_controller.id, id: meta_action.id }, id: "roles_#{meta_action.id}", class: 'color-grey-lighter') do %>
          <i class="fa-regular fa-users"></i>
        <% end %>
        <%= link_to({ controller: 'meta_actions', action: 'edit', meta_controller_id: meta_controller.id, id: meta_action.id }, aria: { label: t('.edit.title') }, class: 'color-grey-lighter') do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
