<div class="<%= active_helper(modules: 'com/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('com.panel.blob_defaults.index.title'), panel_blob_defaults_path, class: active_helper(controllers: 'blob_defaults', active: 'is-active') %>
    <%= link_to t('com.panel.blobs.index.title'), panel_blobs_path, class: active_helper(controllers: 'blobs', active: 'is-active') %>
    <%= link_to t('com.panel.attachments.index.title'), panel_attachments_path, class: active_helper(controllers: 'attachments', active: 'is-active') %>
    <%= link_to t('com.panel.acme_accounts.index.title'), panel_acme_accounts_path, class: active_helper(controllers: 'acme_accounts', active: 'is-active') -%>
<% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fas fa-images fa-fw"></i>
    <span>资源</span>
    <i class="fas dropdown"></i>
  </a>
</div>
