<div class="<%= active_helper(modules: 'com/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-cogs fa-fw"></i>
    <span><%= t('com.panel.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('com.panel.blob_defaults.index.title'), { controller: 'com/panel/blob_defaults' }, class: active_helper(controllers: 'blob_defaults', active: 'is-active') %>
    <%= link_to t('com.panel.blobs.index.title'), { controller: 'com/panel/blobs' }, class: active_helper(controllers: 'blobs', active: 'is-active') %>
    <%= link_to t('com.panel.attachments.index.title'), { controller: 'com/panel/attachments' }, class: active_helper(controllers: 'attachments', active: 'is-active') %>
    <%= link_to t('com.panel.inbound_emails.index.title'), { controller: 'com/panel/inbound_emails' }, class: active_helper(controllers: 'inbound_emails', active: 'is-active') %>
    <%= link_to t('com.panel.acme_accounts.index.title'), { controller: 'com/panel/acme_accounts' }, class: active_helper(controllers: 'acme_accounts', active: 'is-active') %>
    <%= link_to t('com.panel.meta_controllers.index.title'), { controller: 'com/panel/meta_controllers' }, class: active_helper(controllers: 'meta_controllers', active: 'is-active') %>
    <%= link_to t('com.panel.meta_businesses.index.title'), { controller: 'com/panel/meta_businesses' }, class: active_helper(controllers: ['meta_businesses', 'meta_namespaces'], active: 'is-active') %>
    <%= link_to t('com.panel.meta_models.index.title'), { controller: 'com/panel/meta_models' }, class: active_helper(controllers: 'meta_models', active: 'is-active') %>
    <%= link_to t('com.panel.errs.index.title'), { controller: 'com/panel/errs' }, class: active_helper(controllers: 'errs', active: 'is-active') %>
    <%= link_to t('com.panel.csps.index.title'), { controller: 'com/panel/csps' }, class: active_helper(controllers: 'csps', active: 'is-active') %>
  </div>
</div>
