<div class="menu-list">
  <%= link_to({ controller: 'com/panel/home' }, text: true, data: { turbo_frame: 'body', action: 'menu#enter' }, class: 'menu-item') do %>
    <i class="fa-solid fa-cogs fa-fw"></i>
    <strong><%= t('com.panel.title') %></strong>
  <% end %>
  <div class="pl-4">
    <%= link_to t('com.panel.meta_controllers.index.title'), { controller: 'com/panel/meta_controllers' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'meta_controllers', item: 'menu-item', active: 'menu-item is-active') %>
    <%= link_to t('com.panel.meta_models.index.title'), { controller: 'com/panel/meta_models' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'meta_models', item: 'menu-item', active: 'menu-item is-active') %>
    <%= link_to t('com.panel.err_summaries.index.title'), { controller: 'com/panel/err_summaries' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['err_summaries', 'errs'], item: 'menu-item', active: 'menu-item is-active') %>
  </div>
</div>
