<div class="navbar-breadcrumb" style="margin-bottom: 0.75rem">
  <div class="breadcrumb has-succeeds-separator has-background-light">
    <ul>
      <li><%= link_to t('.home.index.title'), { controller: 'home' } %></li>
      <%= render 'breadcrumb' %>
    </ul>
  </div>
  <nav class="navbar is-light" data-controller="navbar">
    <div class="navbar-menu" data-navbar-target="menu">
      <div class="navbar-end">
        <%= render partial: 'locales' %>
        <%= render partial: 'notice_navbar' if defined? RailsNotice %>
        <% if current_member %>
          <%= render partial: 'admin/auth_navbar' %>
        <% else %>
          <%= render partial: 'auth_navbar' %>
        <% end %>
      </div>
    </div>
  </nav>
</div>
