<div class="navbar-breadcrumb mb-3">
  <div class="breadcrumb has-succeeds-separator background-light">
    <ul>
      <% if current_page?(controller: 'home') %>
        <li><strong class="is-active"><%= t('.home.index.title') %></strong></li>
      <% elsif RailsCom::Routes.controllers.dig("#{params[:business]}/panel/home", 'index').present? %>
        <li><%= link_to t('.home.index.title'), { controller: 'home' } %></li>
      <% else %>
        <li><%= link_to t('com.panel.home.index.title'), { controller: 'com/panel/home' } %></li>
      <% end %>
      <%= render 'breadcrumb' %>
    </ul>
  </div>
  <nav class="navbar is-light" data-controller="navbar">
    <div class="navbar-menu" data-navbar-target="menu">
      <div class="navbar-end">
        <%= render partial: 'locales' %>
        <%= render partial: 'notice_navbar' if defined? RailsNotice %>
        <% if defined?(current_member) && current_member %>
          <%= render partial: 'admin/auth_navbar' %>
        <% else %>
          <%= render partial: 'auth_navbar' %>
        <% end %>
      </div>
    </div>
  </nav>
</div>
