<td>
  <p>
    <%= link_to({ action: 'show', id: model.id }) do %>
      <%= model.id %>
    <% end %>
  </p>
  <p><%= model.class_name %></p>
  <p data-controller="time-count" data-time-count-time-value="<%= model.scheduled_at&.to_fs(:iso8601) %>"><%= exact_distance_time(model.scheduled_at || model.created_at, Time.current) %></p>
</td>
<td>
  <p><%= model.class_name %></p>
</td>
<td>
  <pre><%= model.arguments.to_format_yaml %></pre>
</td>
