<div class="tabs is-centered">
  <ul>
    <li class="<%= active_helper(action: 'index', active: 'is-active') %>">
      <%= link_to({ action: 'index' }) do %>
        <span><%= t('.index.title') %></span>
        <span class="tag"><%= SolidQueue::Job.finished.count %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(action: 'failed', active: 'is-active') %>">
      <%= link_to({ action: 'failed' }) do %>
        <span><%= t('.failed.title') %></span>
        <span class="tag"><%= SolidQueue::Job.failed.count %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(action: 'scheduled', active: 'is-active') %>">
      <%= link_to({ action: 'scheduled' }) do %>
        <span><%= t('.scheduled.title') %></span>
        <span><%= SolidQueue::Job.scheduled.count %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(action: 'running', active: 'is-active') %>">
      <%= link_to t('.running.title'), { action: 'running' } %>
    </li>
    <li class="<%= active_helper(action: 'discarded', active: 'is-active') %>">
      <%= link_to t('.discarded.title'), { action: 'discarded' } %>
    </li>
  </ul>
</div>
