<tr>
  <td class="has-text-right"><%= Smtp.human_attribute_name(:name) %></td>
  <td><%= @smtp.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Smtp.human_attribute_name(:address) %></td>
  <td><%= @smtp.address %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Smtp.human_attribute_name(:port) %></td>
  <td><%= @smtp.port %></td>
</tr>
