<div data-controller="empty" class="box is-padding-less mx-3">
  <div class="box-body">
    <span class="size-7 has-border-left-primary">设置</span>
  </div>
  <div class="columns is-4-mobile flex is-vcentered is-centered m-0" data-empty-target="content">
    <%= link_to({ controller: 'ship/my/addresses' }, class: 'column has-column-centered') do %>
      <div class="text-primary">
        <i class="fa-solid fa-fw fa-xl fa-location-dot"></i>
      </div>
      <div class="text-grey size-7 mt-1"><%= t('ship.my.addresses.index.title') %></div>
    <% end %>
    <%= link_to({ controller: 'wechat/my/users', action: 'invite_qrcode' }, class: 'column has-column-centered') do %>
      <div class="text-primary fa-weui-badge">
        <i class="fa-solid fa-fw fa-xl fa-qrcode"></i>
        <span class="weui-badge">邀请有礼</span>
      </div>
      <div class="text-grey size-7 mt-1">邀请好友</div>
    <% end %>
    <%= link_to({ controller: 'auth/my/home' }, class: 'column has-column-centered') do %>
      <div class="text-primary">
        <i class="fa-solid fa-fw fa-xl fa-ellipsis"></i>
      </div>
      <div class="text-grey size-7 mt-1"><%= t('auth.my.home.index.title') %></div>
    <% end %>
  </div>
</div>
