<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="light" style="--bulma-body-overflow-y: hidden">
  <head>
    <%= render 'head_title' %>
    <meta name="turbo-cache-control" content="no-preview">
    <meta name="turbo-prefetch" content="<%= !Rails.env.local? %>">
    <meta name="view-transition" content="same-origin">
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
