<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <% if content_for?(:title) %>
      <title><%= yield(:title) %></title>
    <% else %>
      <title><%= current_title %></title>
    <% end %>
    <meta name="turbo-cache-control" content="no-preview">
    <%= stylesheet_packs_with_chunks_tag 'admin/application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= css_load media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'admin/application', 'data-turbo-track': 'reload' %>
    <%= js_load 'data-turbo-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= yield %>
    <div id="modal"></div>
    <div id="visit"></div>
  </body>
</html>
