<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <% if request.variant.any?(:mini_program) %>
    <title></title>
    <% else %>
    <title><%= current_title %></title>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="description" content="<%= yield(:meta_description) %>">
    <meta name="keywords" content="<%= yield(:meta_keywords) %>">
    <meta name="turbo-cache-control" content="no-preview">
    <%= yield :reload %>
    <%= stylesheet_link_tag 'phone', media: 'all', 'data-turbo-track': 'reload' %>
    <% if request.variant.any?(:work_wechat) %>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js" referrerpolicy="origin" data-turbo-track="reload" defer="defer"></script>
    <script src="https://open.work.weixin.qq.com/wwopen/js/jwxwork-1.0.0.js" referrerpolicy="origin" data-turbo-track="reload" defer="defer"></script>
    <% else %>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js" referrerpolicy="origin" data-turbo-track="reload" defer="defer"></script>
    <% end %>
    <%= javascript_include_tag 'phone', 'data-turbo-track': 'reload', defer: true %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>
  </head>
  <body data-weui-theme="light">
    <%= yield %>
    <%= render 'weui_actionsheet_common' %>
  </body>
</html>
