<%= render layout: 'layouts/admin_head' do %>
  <body>
    <%= render 'nav_bar' %>
    <main class="columns">
      <div class="column is-narrow" style="width:260px;">
        <%= render 'nav' %>
      </div>
      <div class="column as-body">
        <% if content_for?(:breadcrumb) %>
          <%= yield(:breadcrumb) %>
        <% else %>
          <%= render 'breadcrumb' %>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <div id="modal"></div>
  </body>
<% end %>
