<%= render layout: 'layouts/admin_head' do %>
  <%= render 'nav_bar' %>
  <main class="columns">
    <div class="column is-narrow p-0 is-hidden-touch" style="width:260px">
      <%= render 'nav' %>
    </div>
    <div class="column">
      <%= render 'breadcrumb' %>
      <%= yield %>
    </div>
  </main>
<% end %>
