<%= render layout: 'layouts/admin_head' do %>
  <main class="columns">
    <div class="column is-narrow p-0">
      <%= render 'nav' %>
    </div>
    <div class="column pt-0">
      <%= render 'nav_bar' %>
      <%= render 'alert' %>
      <turbo-frame id="body" data-turbo-action="advance">
        <%= yield %>
      </turbo-frame>
    </div>
  </main>
<% end %>
