<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <%= render 'alert' %>
  <main class="container">
    <div class="breadcrumb has-succeeds-separator mt-3">
      <ul>
        <%= render 'breadcrumb' %>
      </ul>
    </div>
    <div class="columns is-gapless">
      <%= yield %>
    </div>
  </main>
<% end %>
