<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <%= render 'alert' %>
  <main class="container pt-4">
    <div class="breadcrumb has-succeeds-separator">
      <ul>
        <%= render 'breadcrumb' %>
      </ul>
    </div>
    <div>
      <%= yield %>
    </div>
  </main>
  <%= render 'footer' %>
<% end %>
