<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <%= render 'shared/alert' %>
  <main class="columns is-fluid is-centered">
    <div class="column container is-full">
      <%= render 'breadcrumb' %>
      <%= yield %>
    </div>
  </main>
  <%= render 'footer' %>
<% end %>
