<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <div id="alert"></div>
  <main class="container">
    <%= render 'breadcrumb' %>
    <div class="columns">
      <%= yield %>
    </div>
  </main>
  <%= render 'footer' %>
<% end %>
