<%= render layout: 'layouts/phone_head' do %>
  <div class="weui-tab">
    <%= render 'nav_bar' %>
    <div class="weui-tab__panel" id="weui-tab__panel">
      <%= render 'alert' %>
      <%= yield %>
    </div>
    <%= render 'tab_bar_footer' %>
    <%= render 'tab_bar' %>
  </div>
<% end %>
