<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <%= render 'alert' %>
  <main class="container">
    <div class="breadcrumb has-succeeds-separator has-background-light my-3">
      <ul>
        <%= render 'breadcrumb' %>
      </ul>
    </div>
    <div class="columns">
      <%= yield %>
    </div>
  </main>
  <%= render 'footer' %>
<% end %>
