<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <%= render 'alert' %>
  <div class="breadcrumb has-succeeds-separator container my-3">
    <ul>
      <%= render 'breadcrumb' %>
    </ul>
  </div>
  <main class="columns container">
    <%= yield %>
  </main>
  <%= render 'footer' %>
<% end %>
