<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <%= render 'alert' %>
  <main class="container">
    <div class="p-3">
      <%= render 'breadcrumb' %>
    </div>
    <div class="columns">
      <%= yield %>
    </div>
  </main>
  <%= render 'footer' %>
<% end %>
