<%= render layout: 'layouts/application_head' do %>
  <body class="as-body">
    <%= render 'nav_bar' %>
    <main class="columns as-main">
      <div class="container column">
        <div class="columns">
          <div class="column is-narrow" style="width: 260px;">
            <% if content_for?(:nav) %>
              <%= yield :nav %>
            <% else %>
              <%= render 'nav' %>
            <% end %>
          </div>

          <div class="column is-scrollable">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render 'footer' %>
    <div id="modal"></div>
  </body>
<% end %>
