<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <main class="columns container">
    <div class="column is-narrow" style="width: 260px;">
      <%= render 'nav' %>
    </div>
    <div class="column">
      <%= render 'breadcrumb' %>
      <%= yield %>
    </div>
  </main>
  <%= render 'footer' %>
<% end %>
