<%= render layout: 'layouts/phone_head' do %>
  <%= render 'top_bar' %>
  <%= render 'alert' %>
  <main id="weui-tab__panel">
    <%= yield %>
  </main>
  <%= render 'tab_bar_footer' %>
  <%= render 'tab_bar' %>
  <%= render 'show_table_form' %>
<% end %>
