<%= render layout: 'layouts/application_head' do %>
  <body>
    <%= render 'nav_bar' %>
    <main class="columns">
      <div class="column is-narrow" style="width: 260px;">
        <% if content_for?(:nav) %>
          <%= yield :nav %>
        <% else %>
          <%= render 'nav' %>
        <% end %>
      </div>
      <div class="column as-body">
        <div class="as-main">
          <%= yield %>
        </div>
        <%= render 'footer' %>
      </div>
    </main>
    <div id="modal"></div>
  </body>
<% end %>
