<%= render layout: 'layouts/admin_head' do %>
  <main class="columns">
    <div class="column is-narrow p-0" style="width: 260px">
      <%= render 'nav' %>
    </div>
    <div class="column table-container pt-0">
      <%= render 'nav_bar' %>
      <%= render 'alert' %>
      <%= yield %>
    </div>
  </main>
<% end %>
