<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : t('site_name') %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="description" content="<%= yield(:meta_description) %>" />
    <meta name="keywords" content="<%= yield(:meta_keywords) %>" />
    <%= stylesheet_link_tag 'phone', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= css_load suffix: 'phone', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'phone', 'data-turbolinks-track': 'reload' %>
    <%= js_ready suffix: 'phone', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>
  </head>
  <body>
  
    <% if content_for?(:banner) %>
    <%= yield :banner %>
    <% end %>
  
    <main>
      <%= yield %>
    </main>
    
    <%= js_load %>
  </body>
</html>
